<form [formGroup]="telecom">
    <app-selectsearch
        [title]="'Contact type'"
        [subtext]="'Select contact type'"
        [enum]="ContactSystem"
        [hasNull]="false"
        [formName]="'contactSystem'"
        [formGroup]="telecom"></app-selectsearch>
    <app-text
        [title]="'Actual contact'"
        [subtext]="'Contact value (email, tel, fax)'"
        [formName]="'contactValue'"
        [formGroup]="telecom"></app-text>
    <app-selectsearch
        [title]="'Contact use'"
        [subtext]="'Select contact usage'"
        [enum]="ContactUse"
        [hasNull]="false"
        [formName]="'contactUse'"
        [formGroup]="telecom"></app-selectsearch>
</form>
