<mat-form-field class="full-width top-spacing">
    <mat-label>{{title}}</mat-label>
    <input matInput
        *ngIf="!isRange"
        type="text"
        name="textInput"
        [formControl]= "textForm"
        attr.aria-label="{{title}}"
        [placeholder]="subtext"
        [required]="isRequired">
    <input matInput
        *ngIf="isRange"
        type="number"
        name="textInput"
        [formControl]= "textForm"
        attr.aria-label="{{title}}"
        min="1"
        max="10"
        [placeholder]="subtext"
        [required]="isRequired">
</mat-form-field>