<div class="login-page">
    <app-background></app-background>
    <div class="centering">
        <mat-card class="container">
            <mat-card-header class="header centering">
                <fa-icon class="angular-icon" matCardAvatar
                    [icon]="angularIcon"></fa-icon>
                <mat-card-title class="title">Vaccination Locations</mat-card-title>
                <mat-card-subtitle class="subtitle">Angular Firebase app based
                    on <span style="white-space: nowrap;">FHIR-Location</span></mat-card-subtitle>
            </mat-card-header>
            <mat-error class="centering error">
                {{ authError?.message }}
            </mat-error>
            <mat-card-content>
                <form class="login-form" [formGroup]="form"
                    (ngSubmit)="onSignIn()">
                    <mat-form-field class="full-width">
                        <input matInput type="email" name="email" placeholder="Email address"
                            formControlName="email">
                        <mat-error *ngIf="form.get('email')?.invalid">{{getError()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width vertical-spacing">
                        <input matInput type="password" name="password" placeholder="Password"
                            formControlName="password">
                    </mat-form-field>
                    <button mat-flat-button type="submit"
                        class="full-width button vertical-spacing"
                        [disabled]="form.invalid || form.pending">
                        Login
                    </button>
                </form>
                <div class="sub-login vertical-spacing">
                    <div class="centering">
                        <button mat-button class="create-account centering"
                            routerLink="/register">Create new account</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>