@use 'src/styles';


.form-spacer{
    flex: 1 1 auto;
}

.spacer{
    margin-top: 1.5rem;
}

.add-page{
    height: 100%;
    width: 100%;
    background: styles.$body-color;

    .container{
        width: 90%;
        margin-top: 1rem;

        .add-button{
            width: 40%;
        }
    }
}