<mat-card class="container">
    <mat-card-header>
        <p>Location status:</p>
    </mat-card-header>
    <mat-card-content>
        <mat-button-toggle-group class="button-container" (change)="onValueChange($event.value)" aria-label="Status of location">
            <mat-button-toggle class="radio-button" [value]="Status.a">{{Status.a}}</mat-button-toggle>
            <mat-button-toggle class="radio-button" [value]="Status.i">{{Status.i}}</mat-button-toggle>
            <mat-button-toggle class="radio-button" [value]="Status.s">{{Status.s}}</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-card-content>
</mat-card>