<form [formGroup]="addressForm">
  <h3>Address:</h3>
  <app-selectsearch [title]="'Address Use'" [subtext]="'Select address use'" [enum]="addressUse" (formEmitter)="addChildFormControl('use',$event)"></app-selectsearch>
  <app-selectsearch [title]="'Address Type'" [subtext]="'Select address type'" [enum]="addressType" (formEmitter)="addChildFormControl('type',$event)"></app-selectsearch>
  <mat-form-field class="address-full-width">
    <mat-label>Address</mat-label>
    <textarea matInput formControlName="line" placeholder="Ex. Minta street 54. 2.e"></textarea>
  </mat-form-field>
  <table class="address-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="address-full-width">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" placeholder="Ex. San Francisco">
    </mat-form-field></td>
    <td><mat-form-field class="address-full-width">
      <mat-label>Postal Code</mat-label>
      <input matInput type="number" formControlName="postalCode" placeholder="Ex. 6710">
    </mat-form-field></td>
  </tr></table>
  <mat-form-field class="address-full-width">
    <mat-label>Country</mat-label>
    <textarea matInput formControlName="country"></textarea>
  </mat-form-field>
</form>