@use "src/styles";

.home-container{
    margin: 1rem;
    display: flex;
    flex-direction: column;

    .search-bar{
        padding: 0.5rem;

        .radio-container{
            height: fit-content;

            .radio-button{
                width: 100%;
                font-size: 0.75rem;
            } 
        }        
    }

    .location-item{
        margin-top: 1rem;
    }

    .empty{
        z-index: 100;
        margin-top: 25%;
    }
}

.top{
    padding-top: 5rem;
}

.bottom{
    padding-bottom: 5rem;
}