@use "src/styles";

.home-container{
    margin: 1rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;

    .location-item{
        margin-bottom: 1rem;
    }

    .empty{
        z-index: 100;
        margin-top: 25%;
    }
}

.top{
    padding-top: 4rem;
}

.bottom{
    padding-bottom: 4rem;
}