<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="full-width">
            <input matInput
                type="text"
                [(ngModel)]="input"
                name="textInput"
                attr.aria-label="{{title}}"
                (input)="onValueChange(input)"
                maxlength="300"
                [required]="isRequired">
        </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>

